<!-- event binding - typically in js if we want a button to do something -->
<!-- we attach onClick inside the HTML tag -->
<!-- in angular we use event binding -->
<!-- it's syntax is (), place the name of the event in the parens -->
<!-- then ="" the name of the method -->

<button 
  class="btn btn-primary" 
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>